# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [4]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

# Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [5]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [7]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [8]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'LBMSSTEAG  EAO/D RCNL)L(AQGETAKNS',
 'calculationPrice': 'close',
 'open': 0,
 'openTime': None,
 'openSource': 'floacfii',
 'close': 0,
 'closeTime': None,
 'closeSource': 'iifflcoa',
 'high': 0,
 'highTime': None,
 'highSource': None,
 'low': 0,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 134.23,
 'latestSource': 'Close',
 'latestTime': 'June 24, 2021',
 'latestUpdate': 1703214115392,
 'latestVolume': None,
 'iexRealtimePrice': 137.5,
 'iexRealtimeSize': 52,
 'iexLastUpdated': 1665608090756,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 135.8,
 'previousVolume': 63131462,
 'change': -0.3,
 'changePercent': -0.00225,
 'volume': None,
 'iexMarketPercent': 0.0013788741755533102,
 'iexVolume': 499,
 'avgTotalVolume': 75710286,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 134.19,
 'iexOpenTime': 1687439956516,
 'iexClose': 137.7,
 'iexCloseTime': 1666338557256,
 'marketCap': 2330068003856,
 'peRatio': 31.5,
 'week52High': 151.59,
 'week52Low': 87.76,
 'ytdChange': 0.00676559235258028,
 'lastTradeTime': 1649866866928,
 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [9]:
price = data['latestPrice']
price
market_cap = data['marketCap']
print(market_cap/1000000000000)

2.330068003856

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [10]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [11]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ],
        index = my_columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       134.23         2330068003856                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [12]:
final_dataframe = pd.DataFrame(columns = my_columns)

for stock in stocks['Ticker'][:3]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    price = data['latestPrice']
    market_cap = data['marketCap']
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock,
                price,
                market_cap,
                'N/A'
            ],
            index = my_columns
        ),
        ignore_index=True
    )

final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A       150.93           46132782134                     N/A
1    AAL        22.37           15000766324                     N/A
2    AAP       202.51           13196064815                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [25]:
def chunks(lst, n):
    """ Yield successive n-sized chunkcs from list"""
    for i in range(0, len(lst), n):
        yield lst[i:i+n]

In [59]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for symbol_group in symbol_groups:
    symbol_strings.append(','.join(symbol_group))
    
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    batch_data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        
        data = batch_data[symbol]['quote']
        price = data['latestPrice']
        market_cap = data['marketCap']
        
#         print(price, ',', market_cap)
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                    symbol,
                    price,
                    market_cap,
                    'N/A'
                ],
                index = my_columns
            ),
            ignore_index=True
        )
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      153.300           45226062466                     N/A
1      AAL       22.600           14286627635                     N/A
2      AAP      206.710           13487461756                     N/A
3     AAPL      135.112         2245189169207                     N/A
4     ABBV      115.040          199767195230                     N/A
..     ...          ...                   ...                     ...
500    YUM      117.200           36555019145                     N/A
501    ZBH      169.850           35783906025                     N/A
502   ZBRA      516.920           27831937266                     N/A
503   ZION       55.690            9051016346                     N/A
504    ZTS      188.960           91047383863                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [46]:
portfolio_amount_to_invest = input("Enter portfolio size:")
val = float(portfolio_amount_to_invest)

Enter portfolio size:1000000

In [81]:
size_portfolio = len(final_dataframe.index)
amount_invest_per_stock = val/size_portfolio
print(amount_invest_per_stock)

for i in range(size_portfolio):
    price_stock = final_dataframe.loc[i, 'Stock Price']
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(amount_invest_per_stock/price_stock)

final_dataframe

1980.1980198019803

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      153.300           45226062466                      12
1      AAL       22.600           14286627635                      87
2      AAP      206.710           13487461756                       9
3     AAPL      135.112         2245189169207                      14
4     ABBV      115.040          199767195230                      17
..     ...          ...                   ...                     ...
500    YUM      117.200           36555019145                      16
501    ZBH      169.850           35783906025                      11
502   ZBRA      516.920           27831937266                       3
503   ZION       55.690            9051016346                      35
504    ZTS      188.960           91047383863                      10

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [91]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index = False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [92]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [93]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number if Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1] )

## Saving Our Excel Output

Saving our Excel file is very easy:

In [94]:
writer.save()

/Users/kentyucra/Developer/algorithmic-trading-python/venv/lib/python3.9/site-packages/xlsxwriter/workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")